<div>
  <form [formGroup]="form" (submit)="addUrl()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>IP address</mat-label>
      <input type="text" matInput formControlName="ip">
    </mat-form-field>
    <button class="btn" mat-raised-button color="primary" [disabled]="isFetching">ADD</button>
  </form>
  <ul>
    <li *ngIf="ip.hasError('invalidIp') && ip.value">Invalid IP address</li>
    <li *ngIf="ip.hasError('isExists') && ip.value">This IP address already exists</li>
  </ul>

  <table mat-table [dataSource]="urls.reverse()" class="mat-elevation-z8 table">

    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef>Url</th>
      <td mat-cell *matCellDef="let url"> {{url.ip}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let url"> {{url.country}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let url"> {{url.city}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let url"> <mat-icon (click)="deleteUrl(url.ip)">delete</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
