* {
  letter-spacing: 1.5px;
}

html, body {
  height: 100%;
  padding: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 40px 20%;
  @media (max-width: 1200px) {
    display: block;
    margin: auto 20%;
  }

  @media (max-width: 960px) {
    margin: auto 10%;
  }

  @media (max-width: 480px) {
    margin: auto;
  }
}
